@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import "tailwindcss";

@import "tailwindcss";

.base-color {
  @apply bg-[#CEEAF7];
}

.card-color {
  @apply bg-white;
}

.category-header {
  @apply bg-[#413F3D] text-white p-3 font-bold;
}

.category-container {
  @apply flex flex-col space-y-14 p-3;
}

.product-header {
  @apply text-3xl my-2;
}

.kumar-one-regular {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
