@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@import "tailwindcss";

:root {
  --dark-purple: #242038;
  --slate-blue: #725ac1;
  --tropical-indigo: #8d86c9;
  --french-gray: #cac4ce;
  --linen: #f7ece1;
  --yale-blue: #043565;
  --midnight-green: #02394a;
}

.product-card-bg {
  @apply bg-[var(--linen)];
}

.base-color {
  @apply bg-[#CEEAF7];
}

.card-color {
  @apply bg-white;
}

.category-header {
  @apply bg-[#413F3D] text-white p-3 font-bold;
}

.category-container {
  @apply flex flex-col space-y-14 p-3;
}

.product-header {
  @apply text-3xl my-2;
}

.kumar-one-regular {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dark-purple {
  @apply bg-[var(--dark-purple)];
}

.dark-purple-text {
  @apply text-[var(--dark-purple)];
}
